@font-face {
  font-family: "Noto Sans KR";
  unicode-range: U+AC00-D7AF;
  src: font-url(
    "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
  );
}
@font-face {
  font-family: "Roboto";
  src: font-url(
    "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
  );
}
body {
  margin: 0;
  display: grid;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
