$purple: #a393fa;
.Nav {
  display: flex;
  position: sticky;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  h2 {
    color: $purple;
    margin-left: 3vw;
    cursor: pointer;
  }
  h3 {
    color: $purple;
    margin-right: 3vw;
  }
  h2:hover,
  h3:hover {
    color: darken($purple, 10%);
  }
  form {
    margin-right: 3vw;
  }
  input {
    background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 5px center;
    transition: width 0.28s linear;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    width: 150px;
    background-color: #dddddd;
  }
  input:focus {
    width: 200px;
    background-image: none;
  }
}

.child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
